In [1]:
import pandas as pd

In [2]:
user = pd.read_csv('./data/users.csv', encoding='utf-8')
user.head(10)

,handle,bio,badgeId,backgroundId,profileImageUrl,solvedCount,voteCount,class,classDecoration,rivalCount,...,ratingByVoteCount,maxStreak,coins,stardusts,joinedAt,bannedUntil,proUntil,rank,isRival,isReverseRival
0,koosaga,NaN,orangecup,s2020-ruby1,https://static.solved.ac/uploads/profile/koosa...,12668,3411,10,gold,5,...,25,24,0,81200,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,2025-12-31T23:59:59.000Z,1,False,False
1,cki86201,NaN,NaN,abstract_001_light,NaN,6245,263,10,gold,0,...,25,5,0,16600,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z,2,False,False
2,mitnegativeinfinity,NaN,beta_contributor,balloon_001,NaN,2292,462,10,none,0,...,25,8,0,19375,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z,3,False,False
3,ainta,NaN,NaN,s2020-ruby1,NaN,4309,133,10,none,0,...,25,2,0,18755,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z,4,False,False
4,yclock,Let yclock Win ICPC WF! // Twitter: @youngyoju...,beta_contributor,ucpc2022,https://static.solved.ac/uploads/profile/ycloc...,2967,643,10,none,7,...,25,6,0,166994,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z,5,False,False
5,opera_tive,NaN,grass_09,s1-master,https://static.solved.ac/uploads/profile/opera...,6447,575,10,none,18,...,25,684,14,77715,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z,6,False,False
6,jhnah917,justiceHui.github.io,grass_09,s1-master,https://static.solved.ac/uploads/profile/jhnah...,9440,3542,10,none,52,...,25,683,0,145264,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,2025-12-31T23:59:59.000Z,7,False,False
7,Lawali,road to international grandmaster,event220401-22,hello2022-newline,https://static.solved.ac/uploads/profile/48707...,2761,96,10,none,23,...,25,9,0,18699,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z,7,False,False
8,sebinkim,NaN,beta_contributor,icpc2022,NaN,2634,174,10,none,0,...,25,67,0,150723,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z,9,False,False
9,serin,You are the aria itself.,hello2023,hello2022,https://static.solved.ac/uploads/profile/denni...,1145,287,10,none,23,...,25,150,157,3996,2021-06-19T00:00:00.000Z,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z,10,False,False

In [3]:
solved_problem = pd.DataFrame()
solved_problem['handle'] = user['handle']
solved_problem

                     handle
0                   koosaga
1                  cki86201
2       mitnegativeinfinity
3                     ainta
4                    yclock
...                     ...
117495              youhk43
117496           youjin1952
117497            youjong12
117498            youngin39
117499           youngjae99

[117500 rows x 1 columns]

In [5]:
solved_temp = pd.DataFrame()
for i in range(1,41):
    temp = pd.read_csv(f'./data/solved_problem/solved{i}.csv')
    solved_temp = pd.concat([solved_temp, temp])
solved_temp.reset_index(inplace=True, drop=True)
solved_temp

                                           solved_problem
0       ['2502', '12106', '18483', '2795', '18947', '1...
1       ['2502', '11254', '12106', '16928', '18483', '...
2       ['18855', '18483', '11622', '1372', '24661', '...
3       ['11865', '1372', '24270', '2795', '10826', '1...
4       ['5565', '16928', '20090', '10759', '2753', '7...
...                                                   ...
118125                                                 []
118126                                                 []
118127                                                 []
118128                                                 []
118129                                                 []

[118130 rows x 1 columns]

In [6]:
solved_problem['solved_problem'] = solved_temp['solved_problem']
solved_problem

In [8]:
solved_problem.to_csv('./data/solved_problems.csv', index=False)