In [26]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [27]:
# 문자열을 리스트로 변환
def str_to_list(x):
    try:
        return literal_eval(x)
    except: #해당 값이 null값이거나 오류가 있을 때, None을 return 하기
        return None
    
# 딕셔너리에서 키값만 반환
def dic_to_list(x):
    try:
        temp = []
        for i in x:
            temp.append(i["key"])
        if not temp:
            return None
        else:
            return temp
    except: #해당 값이 null값이거나 오류가 있을 때, None을 return 하기
        return None

In [28]:
problems = pd.read_csv('../data/problems.csv', encoding='utf-8')
users = pd.read_csv('../data/users.csv', encoding='utf-8')
solved_problems = pd.read_csv('../data/solved_problems.csv')

problems['tags'] = problems['tags'].apply(lambda x: str_to_list(x)) 
solved_problems['solved_problem'] = solved_problems['solved_problem'].apply(lambda x: str_to_list(x)) 
problems['tags'] = problems['tags'].apply(lambda x: dic_to_list(x))

In [31]:
users_drop = ['bio', 'badgeId', 'backgroundId', 'profileImageUrl', 'voteCount', 'classDecoration', 'ratingByVoteCount',
             'coins', 'stardusts', 'joinedAt', 'bannedUntil', 'proUntil', 'isRival', 'isReverseRival']
ban_users = users[(users.solvedCount == 0) & ((users.rating !=0)|(users.exp !=0))].index
users = users.drop(columns=users_drop, axis=1)
users = users.drop(index=ban_users).reset_index(drop=True)
users

KeyError: "['bio', 'badgeId', 'backgroundId', 'profileImageUrl', 'voteCount', 'classDecoration', 'ratingByVoteCount', 'coins', 'stardusts', 'joinedAt', 'bannedUntil', 'proUntil', 'isRival', 'isReverseRival'] not found in axis"

In [ ]:
problems_drop = ['titles', 'isPartial', 'votedUserCount', 'sprout', 
                'givesNoRating', 'givesNoRating', 'metadata', 'isLevelLocked']
gudegi = [24900, 24901, 24902, 24903, 24904, 24905, 24906, 24907, 24908, 24909, 24910, 24911, 
          21292, 21293, 21294, 21295, 21296, 21297, 21298, 21299, 
           18821, 18822, 18823, 18824, 18825, 18826, 18827, 18828, 18829, 18830, 18831, 18832, 18833, 18834, 18835, 18836, 
            17106, 17107, 17108, 17109, 17110, 17111, 17112, 17113, 17114, 17115, 17116, 17117, 17118, 17119, 17120, 
           15629, 15630, 15631, 15632, 15633, 15634, 15635, 15636, 15637, 15638, 15639, 15640, 15641, 15642, 15643]
problems = problems.drop(columns=problems_drop, axis=1)
problems = problems.drop(index = problems.loc[problems['isSolvable'] == False].index).reset_index(drop=True)
problems = problems.drop(index = problems.loc[problems['official'] == False].index).reset_index(drop=True)
problems = problems[~problems['problemId'].isin(gudegi)].reset_index(drop=True)
problems

In [40]:
solved_problems = solved_problems.drop(index=ban_users).reset_index(drop=True)
solved_problems = solved_problems.replace([],np.nan)
solved_problems = solved_problems.dropna()
solved_problems

                     handle                                     solved_problem
0                   koosaga  [2502, 12106, 18483, 2795, 18947, 10826, 23413...
1                  cki86201  [2502, 11254, 12106, 16928, 18483, 15360, 1372...
2       mitnegativeinfinity  [18855, 18483, 11622, 1372, 24661, 18947, 2341...
3                     ainta  [11865, 1372, 24270, 2795, 10826, 15513, 11228...
4                    yclock  [5565, 16928, 20090, 10759, 2753, 7644, 11622,...
...                     ...                                                ...
115282              youhk43                                                 []
115283           youjin1952                                                 []
115284            youjong12                                                 []
115285            youngin39                                                 []
115286           youngjae99                                                 []

[115287 rows x 2 columns]

In [25]:
solved_problems

                  handle                                     solved_problem
0                koosaga  [2502, 12106, 18483, 2795, 18947, 10826, 23413...
1               cki86201  [2502, 11254, 12106, 16928, 18483, 15360, 1372...
2    mitnegativeinfinity  [18855, 18483, 11622, 1372, 24661, 18947, 2341...
3                  ainta  [11865, 1372, 24270, 2795, 10826, 15513, 11228...
4                 yclock  [5565, 16928, 20090, 10759, 2753, 7644, 11622,...
..                   ...                                                ...
995             qwer9412  [4716, 11658, 8741, 14371, 13549, 6549, 10817,...
996              wwiiiii  [14739, 6549, 10817, 13456, 1057, 2577, 2693, ...
997          bunker12383  [6549, 12849, 15665, 1517, 12931, 5337, 9012, ...
998         dbtmdgns4296  [6549, 10817, 2577, 1517, 1546, 9012, 1644, 27...
999               jatana  [8129, 18542, 8188, 11943, 18665, 14589, 8231,...

[1000 rows x 2 columns]

In [23]:
unique_uid = pd.unique(solved_problems['handle'])
print('len(unique_uid): ', len(unique_uid))
print("(BEFORE) unique_uid: ", unique_uid)
np.random.seed(2023)
idx_perm = np.random.permutation(unique_uid.size)
unique_uid = unique_uid[idx_perm]
print("(AFTER) unique_uid: ", unique_uid)

len(unique_uid):  117461
(BEFORE) unique_uid:  ['koosaga' 'cki86201' 'mitnegativeinfinity' ... 'youjong12' 'youngin39'
 'youngjae99']
(AFTER) unique_uid:  ['yous3163' 'carer' 'grabbity0' ... 'kms78900' 'stacy' 'f410']